.app {
  display: flex;
  flex-direction: column;
}
.header {
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  padding: 30px;
  text-align: center;
  font-weight: 600;
  color: honeydew;
  font-size: 30px;
}
